@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&family=Source+Code+Pro&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
  height: 100%;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
a,
a:visited {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: #f0f2b6;
}
