@import url("reset.css");
@import url("variables.css");
@import url("components.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
body {
  background-color: var(--secondary);
  font-family: "Source Code Pro", monospace;
  font-family: "Poppins", sans-serif;
}
.container {
  padding: 100px 60px 30px 260px;
  height: 100%;
}

/* //navbar// */
.navbar {
  position: fixed;
  height: 100%;
  background-color: var(--primary);
  width: 200px;
}
.navbar-container {
  height: 90%;
  padding: 110px 32px 110px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.navbar-item {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  align-items: center;
  gap: 8px;
  padding: 8px;
  width: 100%;
  color: #fff;
  transition: 0.4s;
}
.active {
  transition: 0.4s;
  background-color: #fff;
  color: var(--primary);
}
/* //header// */
.header {
  position: fixed;
  background: #fff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  width: 100%;
  z-index: 1;
}
.headerLogo {
  margin: 5px;
}
.loginButton {
  float: right;
}
.logoutContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
/* //dialogs// */
.dialogMainWrapper {
  display: flex;
  flex-direction: row;
}
.dialogUsersWrapper {
  flex-direction: column;
  display: flex;
  width: 250px;
  background-color: #5d7736;
  padding: 100px 20px;

  margin-top: -50px;
}
.messageWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
  padding: 50px;
}
.sendMessageWrapper {
  height: 100px;
  position: fixed;
  background-color: red;
  display: flex;
  bottom: 0;
  margin-top: 200px;
  width: 59%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* //login// */
.loginInput {
  padding: 8px 12px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: inset 0px 0px 0px 1px var(--primary);
}
.loginFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 360px;
  height: 100%;
  background-color: #fff;
  gap: 24px;
  padding: 32px 24px 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  margin: 10% auto;
}

/* //profile// */
.profileTop {
  position: relative;
  width: 100%;
  height: 250px;
}
.profileBg {
  width: 100%;
  border-radius: 16px;
  height: 180px;
  object-fit: cover;
}

.pfpContainer {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 8px;
  height: 160px;
}
.pfp {
  border-radius: 120px;
  border: 8px solid #fff;
  object-fit: contain;
  width: auto;
  height: 100%;
  position: relative;
}
.changePfp {
  display: none;
}
.cam {
  color: var(--primary);
}
.custom-file-upload {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 5px;
  width: 40px;
  height: 40px;
  bottom: 5px;
  border-radius: 50px;
  cursor: pointer !important;

  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
}
.status {
  position: absolute;
  bottom: 24px;
  left: 200px;
  cursor: pointer;
}
.status-field {
  padding: 8px 24px;
  bottom: 17px;
  font-size: 16px;
  left: 174px;
  cursor: text;
  border-radius: 8px;
  border: 1px solid var(--primary);
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.fullName {
  color: #fff;
  position: absolute;
  bottom: 74px;
  left: 200px;
  font-size: 32px;
}
.profileContent {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  gap: 24px;
  padding-top: 24px;
  justify-content: space-between;
}

.sideInfo {
  width: 250px;
  margin-top: -66px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}
.aboutMe {
  background-color: #fff;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contact {
  background-color: #fff;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-around;
}
/* //posts// */
.myPostsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}
.addPost {
  border-radius: 16px;
  padding: 16px;
  width: 100%;
  background-color: #fff;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.myPosts {
  border-radius: 16px;
  padding: 16px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.postView {
  border: 1px solid var(--primary);
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.postView:last-child {
  margin-bottom: 0px;
}
.postUserData {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  font-weight: 600;
}
.postViewPfp {
  width: 32px;
  height: 32px;
  border-radius: 50px;
}
.likesData {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.addPostField {
  border-radius: 8px;
  padding: 8px 12px;
  width: 100%;
  border: 1px solid var(--primary);
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.addPostForm {
  display: flex;
  gap: 16px;
}
/* //coming soon// */
.comingSoon {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  color: var(--primary);
}
.one {
  opacity: 0;
  -webkit-animation: dot 1s infinite;
  -webkit-animation-delay: 0s;
  animation: dot 1s infinite;
  animation-delay: 0s;
}

.two {
  opacity: 0;
  -webkit-animation: dot 1s infinite;
  -webkit-animation-delay: 0.2s;
  animation: dot 1s infinite;
  animation-delay: 0.2s;
}

.three {
  opacity: 0;
  -webkit-animation: dot 1s infinite;
  -webkit-animation-delay: 0.3s;
  animation: dot 1s infinite;
  animation-delay: 0.3s;
}
@-webkit-keyframes dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.gears {
  display: flex;
  flex-direction: row;
  height: 10px;
}
#gear1,
#gear2 {
  color: var(--primary);
}

#gear1 {
  height: 12px;
  align-self: flex-end;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

#gear2 {
  align-self: flex-start;
  -webkit-animation: spin-back 4s linear infinite;
  -moz-animation: spin-back 4s linear infinite;
  animation: spin-back 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin-back {
  100% {
    -moz-transform: rotate(-360deg);
  }
}
@-webkit-keyframes spin-back {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin-back {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
