@import url("reset.css");
@import url("variables.css");
@import url("components.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
body {
  background-color: var(--secondary);
  font-family: "Source Code Pro", monospace;
  font-family: "Poppins", sans-serif;
}
.container {
  padding: 100px 100px 0 300px;
  height: 100%;
}

/* //navbar// */
.navbar {
  position: fixed;
  height: 100%;
  background-color: var(--primary);
  width: 200px;
}
.navbar-container {
  height: 80%;
  padding: 110px 32px 110px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.navbar-item {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  align-items: center;
  gap: 8px;
  padding: 8px;
  width: 100%;
  color: #fff;
  transition: 0.4s;
}
.active {
  transition: 0.4s;
  background-color: #fff;
  color: var(--primary);
}
/* //header// */
.header {
  position: fixed;
  background: #fff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  width: 100%;
  z-index: 1;
}
.headerLogo {
  margin: 5px;
}
.loginButton {
  float: right;
}
.logoutContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
/* //dialogs// */
.dialogMainWrapper {
  display: flex;
  flex-direction: row;
  margin: -50px -100px;
}
.dialogUsersWrapper {
  flex-direction: column;
  display: flex;
  width: 250px;
  background-color: #5d7736;
  padding: 100px 20px;
  height: 100vh;
  margin-top: -50px;
}
.messageWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 80vh;
  overflow-y: scroll;
  padding: 50px;
}
.sendMessageWrapper {
  height: 100px;
  position: fixed;
  background-color: red;
  display: flex;
  bottom: 0;
  margin-top: 200px;
  width: 59%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* //login// */
.loginInput {
  padding: 8px 12px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: inset 0px 0px 0px 1px var(--primary);
}
.loginFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 360px;
  height: 100%;
  background-color: #fff;
  gap: 24px;
  padding: 32px 24px 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  margin: 10% auto;
}

/* //coming soon// */
.comingSoon {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  color: var(--primary);
}
.one {
  opacity: 0;
  -webkit-animation: dot 1s infinite;
  -webkit-animation-delay: 0s;
  animation: dot 1s infinite;
  animation-delay: 0s;
}

.two {
  opacity: 0;
  -webkit-animation: dot 1s infinite;
  -webkit-animation-delay: 0.2s;
  animation: dot 1s infinite;
  animation-delay: 0.2s;
}

.three {
  opacity: 0;
  -webkit-animation: dot 1s infinite;
  -webkit-animation-delay: 0.3s;
  animation: dot 1s infinite;
  animation-delay: 0.3s;
}
@-webkit-keyframes dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.gears {
  display: flex;
  flex-direction: row;
  height: 10px;
}
#gear1,
#gear2 {
  color: var(--primary);
}

#gear1 {
  height: 12px;
  align-self: flex-end;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

#gear2 {
  align-self: flex-start;
  -webkit-animation: spin-back 4s linear infinite;
  -moz-animation: spin-back 4s linear infinite;
  animation: spin-back 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin-back {
  100% {
    -moz-transform: rotate(-360deg);
  }
}
@-webkit-keyframes spin-back {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin-back {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
