@import url("reset.css");
@import url("variables.css");

body {
  background-color: var(--light);
  font-family: "Source Code Pro", monospace;
}
.container {
  padding: 100px 100px 0 300px;
}
/* //navbar// */
.navbar {
  position: fixed;
  height: 100%;
  background-color: #ac4425;
  padding-top: 100px;
  z-index: 4;
  width: 200px;
}
/* //header// */
.header {
  position: fixed;
  background-color: #ac4425;
  height: 50px;
  width: 100%;
  z-index: 8;
}
.headerLogo {
  margin: 5px;
}
.loginButton {
  float: right;
}
/* //dialogs// */
.dialogMainWrapper {
  display: flex;
  flex-direction: row;
  margin: -50px -100px;
}
.dialogUsersWrapper {
  flex-direction: column;
  display: flex;
  width: 250px;
  background-color: #5d7736;
  padding: 100px 20px;
  z-index: 3;
  height: 100vh;
  margin-top: -50px;
}
.messageWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 80vh;
  overflow-y: scroll;
  padding: 50px;
}
.sendMessageWrapper {
  height: 100px;
  position: fixed;
  background-color: red;
  display: flex;
  bottom: 0;
  margin-top: 200px;
  width: 59%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
